@media all and (min-width: 1300px) {
.mainhead{
  font-family: 'Kaushan Script', cursive;
  font-size: 35px;
}

.navbar{
  background:#222222!important;
}

.nav-item{
  padding:0px 30px;

}


.nav-link
{
  font-family: 'Squada One', cursive;
  color:white !important;
  font-size: 21px;

}

#about{

  background:#222222;
  height:100%;
}

.imgcont
{
    padding-top: 150px;
}

.image
{

  border:0px solid black;
  border-radius:50%;
  height:190px;
  width: 190px;
  display: block;
  margin:auto;

}

.hey
{
  font-family: 'Lato', sans-serif;
  margin-top:28px;
  color: white;
  font-weight: bold;
  letter-spacing: 1.5px;
  text-align: center;
}

.mad1
{
  font-family: 'Montserrat', sans-serif;
  color:white;
  font-size: 20px;
  margin-top:30px;
  text-align: center;
}

.mad2
{
  font-family: 'Montserrat', sans-serif;
  color:white;
  font-size: 20px;
  margin-top:30px;
  text-align: center;
}
.mad3
{
  font-family: 'Montserrat', sans-serif;
  color:white;
  font-size: 20px;
  text-align: center;
}

#portfolio{

  background:white;
}

.maintitle_2
{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size:48px;
  font-weight: bold;
  margin-top:100px;
}

.projects{
  margin-top: 100px;

}
.img
{
  display:inline-block;
  width:10%;
  height:50%;
  margin-bottom: 100px;
  filter: grayscale(100%);
  padding: 0px 30px;

}

.img:hover
{
  transform: scale(1.1);
  filter: grayscale(0%);
}


.maintitle_3
{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size:48px;
  font-weight: bold;
  color:white;
  width:100%;
  margin-top:100px;

}

#football
{
  height:100%;
 background:#222222;
}

.mad4
{
  margin-top: 50px;
  font-family: 'Montserrat', sans-serif;
  color:white;
  font-size: 20px;
  text-align: center;
  width:100%;
}

.player
{
  width:25%;
  height:50%;
  margin-top: 100px;
  display: inline-block;
}

.pim1
{
  width:100%;
  height:100%;
  padding-right: 30px;
}
.player:hover
{
  transform: scale(1.1);
}

.player1:hover
{
  transform: scale(1.1);
}
.row
{
  margin-right: 0px;
}
}


@media all and (max-width: 700px) {
  .navbar{
    background:#222222!important;
  }
  .mainhead{
    font-family: 'Kaushan Script', cursive;
    font-size: 2.8vh;
  }
  navbar{
    background:#222222!important;
  }

  .nav-item{
    padding:0px 30px;

  }


  .nav-link
  {
    font-family: 'Squada One', cursive;
    color:white !important;
    font-size: 11px;

  }

  #about{

    background:#222222;
    height:100vh;
  }

  .imgcont
  {
      padding-top: 100px;
  }

  .image
  {

    border:0px solid black;
    border-radius:50%;
    height:190px;
    width: 190px;
    display: block;
    margin:auto;

  }

  .hey
  {
    font-family: 'Lato', sans-serif;
    margin-top:28px;
    color: white;
    font-weight: bold;
    letter-spacing: 1.5px;
    text-align: center;
    font-size: 3.5vh;
    padding: 0px 22px;
  }

  .mad1
  {
    font-family: 'Montserrat', sans-serif;
    color:white;
    font-size: 2.5vh;
    margin-top:30px;
    text-align: center;
    padding: 0px 22px;
  }

  .mad2
  {
    font-family: 'Montserrat', sans-serif;
    color:white;
    font-size: 2.5vh;
    margin-top:20px;
    text-align: center;
    padding: 0px 22px;
  }
  .mad3
  {
    font-family: 'Montserrat', sans-serif;
    color:white;
    font-size: 2.5vh;
    text-align: center;
    padding: 0px 22px;
  }

  #portfolio{

    background:white;
  }

  .maintitle_2
  {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size:48px;
    font-weight: bold;
    margin-top:50px;
    margin-bottom: 25px;
  }

  .img
  {
    width:90%;
    height:60vh;
    filter: grayscale(100%);
    padding-left:70px;
    padding-bottom: 50px;

  }

  .img:hover
  {
    transform: scale(1.1);
    filter: grayscale(0%);
  }


  .maintitle_3
  {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size:48px;
    font-weight: bold;
    color:white;
    width:100%;
    margin-top:100px;

  }

  #football
  {
    height:100%;
   background:#222222;
  }

  .mad4
  {
    margin-top: 50px;
    font-family: 'Montserrat', sans-serif;
    color:white;
    font-size: 20px;
    text-align: center;
    width:100%;
  }

  .player
  {
    width:25%;
    height:50%;
    margin-top: 100px;
    display: inline-block;
  }

  .pim1
  {
    width:100%;
    height:100%;
    padding-right: 30px;
  }
  .player:hover
  {
    transform: scale(1.1);
  }

  .player1:hover
  {
    transform: scale(1.1);
  }
  .row
  {
    margin-right: 0px;
  }
  .col-sm-8
  {
    padding-right: 0px;
  }
  .col-sm-10
  {
    padding-right: 0px;

  }
  }
